{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode gzip zstd
	request_body {
		max_size 12MB
	}
	reverse_proxy craftcrew:3000
	log {
		output stdout
		format console
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}
